custom_appdir/myapp/lib/__pycache__
custom_appdir/myapp/lib/activelearning/__pycache__
custom_appdir/myapp/lib/configs/__pycache__
custom_appdir/myapp/lib/infers/__pycache__
custom_appdir/myapp/lib/trainers/__pycache__
dataprep/.ipynb_checkpoints
custom_appdir/myapp/__pycache__
custom_appdir/myapp/logs/app.log
